[submodule "cairo_math_64x61"]
	path = lib/cairo_math_64x61
	url = https://github.com/influenceth/cairo-math-64x61
[submodule "cairo_lang"]
	path = lib/cairo_lang
	url = https://github.com/starkware-libs/cairo-lang
